html,
body {
  min-height: 100%;
}
body,
div,
form,
input,
p {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  color: #666;
}
h1 {
  margin: 0;
  font-weight: 400;
}
h3 {
  margin: 12px 0;
  color: #6eb700;
}
.main-block {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}
form {
  width: 100%;
  padding: 20px;
}
fieldset {
  border: none;
  border-top: 1px solid #6eb700;
}

.topPart,
.bottomPart {
  display: flex;
  padding-bottom: 10px;
  flex-grow: 1;
}

input,
label {
  width: 100%;
}

label {
  padding: 0 5px;
  text-align: right;
  vertical-align: middle;
}
input {
  padding: 5px;
  vertical-align: middle;
}

button {
  width: 100%;
  padding: 10px 0;
  margin: 10px auto;
  border-radius: 5px;
  border: none;
  background: #6eb700;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}
button:hover {
  background: #8fc938;
}
@media (min-width: 568px) {
  .seller-details > section,
  .buyer-details > section {
    width: 100%;
  }
  label {
    width: 40%;
  }
  input {
    width: 60%;
  }
}
